.App-header {
  text-align: center;
  font-size: 42px;
  padding: 30px;
  background-color: #89cff0;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.ui-input {
  height: calc(100vh - 110px);
  background: #527c90;
  padding: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  label {
    margin-right: 20px;
    width: 150px;
    display: block;
  }
  .flex {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 20px;
  }
}
.ui-output {
  height: calc(100vh - 110px);
  background: #97b0bc;
}
input {
  overflow: none;
  border: none;
}
.block-number {
  display: flex;
  margin-right: -20px;
  .flex {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    border-right: 2px solid #000;

    &:nth-last-child(1) {
      border-right: none;
    }
  }
  .ant-input {
    width: 80px;
  }
  div:first-child {
    padding-left: 0px;
  }
}
.btn {
  padding: 40px 0;
  span {
    display: flex;
    justify-content: center;
  }
}
.main-output {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
